.btn{
    &-search{
        position: absolute;
        left: auto;
        right: 0;
        width: 24px;
        height: 20px;
        display: block;
        margin: 7px 0;
        font-size: 20px;
        .search-box &{
            top: 0;
            background: transparent;
            border: none;
            margin: 0;
            width: 32px;
            height: 32px;
        }
    }
    &-side-more{
        border-radius: 40px;
        background-color: $kose-yazi-btn-color;
        color: #fff;
        text-transform: uppercase;
        font-family: $font-thin;
        padding: 10px 18px;
        display: inline-block;

    }
}
.menu-toggle {
    position: absolute;
    left: auto;
    right: 30px;
    width: 24px;
    height: 12px;
    display: block;
    margin:15px 10px;
}

.icon-bar {
    width: 100%;
    height: 2px;
    background-color: $type-color;
    display: block;
    margin-bottom: 3px;
}