.social-menu {
    a {
        margin-right: 10px;
    }
    footer & {
        a {
            margin-right: 18px;
            border: 1px solid $type-color;
            border-radius: 60px;
            line-height: 1;
            padding: 8px;
            display: inline-block;
            width: 35px;
            height: 35px;
        }
    }
}

.sub-menu {
    text-align: center;
    li:last-child {
        a:after {
            display: none;
        }
    }
    a {
        margin: 18px 20px;
        font-size: 14px;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        line-height: 1.4;
        &:after {
            content: '';
            position: absolute;
            right: -20px;
            top: 0;
            height: 16px;
            width: 1px;
            display: block;
            background-color: $st-border-colors;
        }
    }
}