.search-box {
    input[type="text"] {
        border: 1px solid $type-color;
        padding: 15px;
        height: 0;
        width: 0;
        transition: all ease .2s;
        float: right;
    }
    width: 100%;
    position: absolute;
    top: 30px;
    transition: all ease .2s;
    opacity: 0;
    right: 0;
    left: auto;
    &.active{
        opacity: 1;
        input[type="text"] {
            height: 30px;
            width: 100%;
        }
    }
}