//color
$main-color: #d07818;
$type-color: #3a3a3a;

//font sizes
$h1-size: 32px;
$h2-size: 28px;
$h3-size: 24px;
$h4-size: 21px;
$h5-size: 18px;
$h6-size: 16px;
$p-size: 14px;

//paddings
$header-top: 60px;

