body{
    font-family: $font-normal;
    font-size: 12px;
}
a {
    color: $type-color;
    transition: color ease .3s;
    &:hover,&:active,&:focus {
        color: $main-color;
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline;
}
p{
    font-family: $font-thin;
    font-size: 10px;
}