h1 {
    font-size: $h1-size;
    .category & {
        font-size: $imza-size;
        letter-spacing: 15px;
        text-indent: 15px;
        margin-bottom: 60px;
        line-height: 1;
        position: relative;
        font-family: $font-normal;
        padding: 15px 110px;
        @include breakpoint(smalls) {
            padding: 15px 60px;
        }
        display: inline-block;
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.9) 35%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.9) 65%, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
    }
    .kose & {
        margin-bottom: 0;
    }
}

h2 {
    font-size: $h2-size;
    font-family: $font-bold;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    .blog-single & {
        font-size: 30px;
    }
    .txt-wr & {
        text-align: left;
        font-size: 30px;
        @include breakpoint(smalls) {
            font-size: 18px;
            margin: 8px 0;
        }
    }
    .category-box & {
        margin-top: 5px;
    }
    .diger & {
        font-size: 18px;
        font-family: $font-normal;
        letter-spacing: 12px;
        display: inline-block;
        text-indent: 12px;
        padding: 0 0 15px 60px;
        margin-bottom: 60px;
        position: relative;
        @include clearfix;
        &:after {
            @extend %deg-sep;
            bottom: 0;
        }
    }
}

h3 {
    font-size: $h3-size;
    line-height: 0.938;
    text-align: center;
    letter-spacing: 7px;
    .txt-wr & {
        text-align: left;
        font-size: 20px;
        margin-top: 0;
        letter-spacing: 2px;
        text-indent: 2px;
        @include breakpoint(smalls) {
            font-size: 14px;
            margin: 8px 0;
        }
    }
    .yasam-menu & {
        display: inline;
        letter-spacing: normal;
        text-indent: 0;
        padding-left: 15px;
    }
    .side-bar & {
        @include breakpoint(mediums) {
            line-height: 1.25;
        }
    }
    .blog-single & {
        font-family: $font-bold;
        font-size: 24px;
        letter-spacing: normal;
        text-indent: 0;
        text-align: left;
    }
}

h4 {
    letter-spacing: 7px;
    font-size: $h4-size;
    line-height: 1.071;
    text-align: center;
    .side-bar & {
        @include breakpoint(mediums) {
            line-height: 1.25;
        }
    }
    .diger & {
        font-size: 14px;
        font-family: $font-bold;
        letter-spacing: normal;
        text-indent: 0;
        text-align: left;
        margin-bottom: 5px;
        margin-top: 15px;
    }
}

h5 {
    letter-spacing: 7px;
    font-size: $h5-size;
    color: $h5-color;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    text-indent: 7px;
    .blog-single & {
        font-size: 24px;
        letter-spacing: 18px;
        text-indent: 18px;
        @include breakpoint(smalls) {
            letter-spacing: 10px;
            text-indent: 10px;
        }
    }
    .menu-bottom & {
        letter-spacing: 6px;
        text-indent: 6px;
        color: $type-color;
    }
    a:hover & {
        color: $main-color;
    }
    .category-box & {
        font-family: $font-bold;
        color: $main-color;
        margin-bottom: 0;
    }
}

h6 {
    font-size: $h6-size;
    letter-spacing: 2px;
    text-indent: 2px;
    font-family: $font-thin;
    color: lighten($h5-color, 20%);
    line-height: 1.364;
    text-align: center;
    margin: 0;
    .blog-single & {
        font-size: 14px;
        margin-bottom: 50px;
    }
    .kose & {
        font-size: 14px;
        color: $altin;
        text-align: left;
        margin-bottom: 55px;
    }
    .s-box & {
        color: lighten($h5-color, 5%);
        font-family: $font-normal;
        letter-spacing: 4px;
        text-indent: 4px;
        text-align: center;
    }
    .kose .s-box & {
        text-align: center;
        font-size: 10px;
        margin-bottom: 0;
    }
    .diger & {
        text-align: left;
        color: $type-color;
        letter-spacing: normal;
        text-indent: 0;
        @include breakpoint(smalls) {
            margin-bottom: 15px;
        }
    }
}

p,
span {
    font-size: $p-size;
    text-indent: 2px;
    font-family: $font-normal;
    letter-spacing: 2px;
}

p {
    .blog-single & {
        font-size: 13px;
        padding-bottom: 15px;
        letter-spacing: 1px;
        text-indent: 1px;
    }
}

.fa {
    font-size: $fa-size;
    footer & {
        font-size: $h2-size;
    }
}

.imza {
    font-family: $font-buttercup;
    font-size: $imza-size;
    margin-bottom: 20px;
    .kose .s-box & {
        margin-bottom: 5px;
    }
}